* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 800px;
  height: 480px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(255, 0, 0);
  overflow: hidden;
}

/* Lado esquerdo */
.login-side {
  width: 40%;
  background-color: #a80101;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.login-side h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.login-side p {
  margin-bottom: 20px;
}

.login-side button {
  padding: 8px 25px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #a80101;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-side button:hover {
  background-color: #000000;
  color: #f1f1f1;
}

/* Lado direito */
.register-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
}

.register-side h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 22px;
}

form {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 12px;
}

.input-group label {
  font-size: 13px;
  color: #555;
  margin-bottom: 4px;
  display: block;
}

.input-box {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 6px 8px;
  background-color: #fff;
}

.input-box img {
  width: 18px;
  margin-right: 8px;
  opacity: 0.7;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
}

button[type="submit"] {
  margin-top: 10px;
  background-color: #a80101;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #000000;
  color: #f1f1f1;
}

.fundo{
  background-color: #e2e2e2;
}